


@keyframes Rotation
{
    0%{rotate: 0;}
    100%{rotate: 360deg;}
}



body
{
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-color: black;
}
#SolarSystem
{
    width: 100vw;
    height: 100vh;
    /* margin-top: 5vh; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}






#JupiterOrbit
{
    width: 95vh;
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    
    animation: Rotation 200s linear infinite;

    background-color: transparent;
}
#JupiterOrbit:hover #JupiterLine
{
    width: 100%;
    height: 100%;

    position: absolute;

    border: 1px solid rgb(50, 50, 50);

    transition: border 150ms linear;

    border-radius: 100%;
}
#JupiterInfo
{
    width: 50vw;
    height: 8vh;
    margin-bottom: 10px;

    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

    border-radius: 10px;

    font-family: Bahnschrift;
    font-size: 15px;
    color: white;

    background-color: rgba(50, 50, 50, 0.5);
}
#JupiterOrbit:hover #JupiterInfo
{
    display: flex;
}
#JupiterSphere
{
    width: 15vh;
    height: 15vh;

    left: calc(50% - 55vh);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    background-color: transparent;
}
#CalistoOrbit
{
    width: 14vh;
    height: 14vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    animation: Rotation 36s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#CalistoItself
{
    width: 0.42vh;
    height: 0.42vh;

    position: absolute;
    left: -0.25vh;

    border-radius: 100%;
    background-color: rgb(224, 195, 172);
}
#GanimedesOrbit
{
    width: 11vh;
    height: 11vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    animation: Rotation 34s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#GanimedesItself
{
    width: 0.42vh;
    height: 0.42vh;

    position: absolute;
    left: -0.25vh;

    border-radius: 100%;
    background-color: rgb(200, 200, 200);
}
#EuropaOrbit
{
    width: 8.5vh;
    height: 8.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    animation: Rotation 32s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#EuropaItself
{
    width: 0.41vh;
    height: 0.41vh;

    position: absolute;
    left: -0.25vh;

    border-radius: 100%;
    background-color: rgb(182, 237, 223);
}
#IoOrbit
{
    width: 5.5vh;
    height: 5.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    animation: Rotation 30s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#IoItself
{
    width: 0.4vh;
    height: 0.4vh;

    position: absolute;
    left: -0.25vh;

    border-radius: 100%;
    background-color: rgb(246, 187, 76);
}
#JupiterItself
{
    width: 3vh;
    height: 3vh;

    position: absolute;
    left: calc(50% - 49vh);

    border-radius: 100%;
    background-color: rgb(226, 108, 61);
}
#JupiterFace
{
    width: 8vh;
    height: 3vh;

    position: absolute;
    right: calc(50%);

    background-color: rgba(0, 0, 0, 0.9);
}






#MarsOrbit
{
    width: 70vh;
    height: 70vh;
    margin: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    
    animation: Rotation 195s linear infinite;

    background-color: transparent;
}
#MarsOrbit:hover #MarsLine
{
    width: 100%;
    height: 100%;

    position: absolute;

    border: 1px solid rgb(50, 50, 50);

    transition: border 150ms linear;
    
    border-radius: 100%;
}
#MarsSphere
{
    width: 6vh;
    height: 6vh;

    left: calc(50% - 38vh);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    background-color: transparent;
}
#DeimosOrbit
{
    width: 6vh;
    height: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    animation: Rotation 32s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#DeimosItself
{
    width: 0.2vh;
    height: 0.2vh;

    position: absolute;
    left: -0.25vh;

    border-radius: 100%;
    background-color: rgb(252, 214, 183);
}
#PhobosOrbit
{
    width: 4vh;
    height: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    animation: Rotation 30s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#PhobosItself
{
    width: 0.3vh;
    height: 0.3vh;

    position: absolute;
    left: -0.25vh;

    border-radius: 100%;
    background-color: rgb(184, 174, 174);
}
#MarsItself
{
    width: 1vh;
    height: 1vh;

    position: absolute;
    left: calc(50% - 35.5vh);

    border-radius: 100%;
    background-color: rgb(224, 81, 24);
}
#MarsFace
{
    width: 3.5vh;
    height: 1vh;

    position: absolute;
    right: calc(50%);

    background-color: rgba(0, 0, 0, 0.9);
}






#EarthOrbit
{
    width: 50vh;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    
    animation: Rotation 190s linear infinite;

    background-color: transparent;
}
#EarthOrbit:hover #EarthLine
{
    width: 100%;
    height: 100%;

    position: absolute;

    border: 1px solid rgb(50, 50, 50);

    transition: border 150ms linear;
    
    border-radius: 100%;
}
#MoonOrbit
{
    width: 7vh;
    height: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 28.5vh);

    animation: Rotation 30s linear infinite;

    border-radius: 100%;
    background-color: transparent;
}
#MoonItself
{
    width: 0.45vh;
    height: 0.45vh;

    position: absolute;
    left: 0vh;

    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}
#EarthItself
{
    width: 1.5vh;
    height: 1.5vh;

    position: absolute;
    left: calc(50% - 25.75vh);

    border-radius: 100%;
    background-color: rgb(0, 120, 255);
}
#EarthFace
{
    width: 3.6vh;
    height: 1.5vh;

    position: absolute;
    right: calc(50%);

    background-color: rgba(0, 0, 0, 0.9);
}






#VenusOrbit
{
    width: 35vh;
    height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    
    animation: Rotation 185s linear infinite;

    background-color: transparent;
}
#VenusOrbit:hover #VenusLine
{
    width: 100%;
    height: 100%;

    position: absolute;

    border: 1px solid rgb(50, 50, 50);

    transition: border 150ms linear;
    
    border-radius: 100%;
}
#VenusItself
{
    width: 1.5vh;
    height: 1.5vh;

    position: absolute;
    left: calc(50% - 18.25vh);

    border-radius: 100%;
    background-color: rgb(252, 245, 183);
}
#VenusFace
{
    width: 2vh;
    height: 1.5vh;

    position: absolute;
    right: calc(50%);

    background-color: rgba(0, 0, 0, 0.9);
}






#MercuryOrbit
{
    width: 19vh;
    height: 19vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    border-radius: 100%;
    
    animation: Rotation 180s linear infinite;

    background-color: transparent;
}
#MercuryOrbit:hover #MercuryLine
{
    width: 100%;
    height: 100%;

    position: absolute;

    border: 1px solid rgb(50, 50, 50);

    transition: border 150ms linear;
    
    border-radius: 100%;
}
#MercuryIself
{
    width: 1vh;
    height: 1vh;

    position: absolute;
    left: calc(50% - 10vh);

    border-radius: 100%;
    background-color: rgb(121, 121, 121);
}
#MercuryFace
{
    width: 1vh;
    height: 1vh;

    position: absolute;
    right: calc(50%);

    background-color: rgba(0, 0, 0, 0.9);
}






#Sun
{
    width: 4vh;
    height: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    background-color: rgb(255, 242, 197);
}