/**********************************************************************/
/*  Actividad 7  */



@keyframes transition {

    0% {

        width: 10px;
    }

    10% {

        width: min-content;
    }

    50% {

        width: fit-content;
    }

    90% {

        width: min-content;
    }

    100% {

        width: 10px;
    }
}

@keyframes cursor {
    
    from {

        background-color: transparent;
    }

    to {

        background-color: white;
    }
}

body {
    
    margin: 0;

    background-color: rgb(80, 80, 80);
}

#texto {

    width: min-content;
    height: 100px;
    margin: 25px;

    display: flex;
    flex-wrap: nowrap;

    animation: transition 3000ms linear infinite;
}

div p {

    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    word-break: break-all;
    overflow: hidden;

    font-size: 80px;
    color: white;
}

div div{

    width: 10px;
    height: 100%;
    margin: 0;


    animation: cursor 500ms alternate infinite;
    
    background-color: rgb(255, 111, 0);
}



/**********************************************************************/