/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/*                                                                    */
/*          ZS202201 MENU (CSS FILE)                                  */
/*          (DESIGN BEGAN IN: 2022-03-27)                             */
/*                                                                    */
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



/************************************************************************/
/*          KEYFRAMES                                                   */
/************************************************************************/



@keyframes showMenu
{
    from{ height: 0;}
    to{height: calc(100% - 18px);}
}
@keyframes showMenuBurguer
{
    from{height: 0;}
    to{height: calc(100% - 120px);}
}
@keyframes showMenuBurguerMini
{
    from{height: 0;}
    to{height: calc(100% - 60px);}
}




/************************************************************************/
/*          HTML                                                        */
/************************************************************************/



*
{
    margin: 0;

    font-family: bahnschrift;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background-color: transparent;
}
body::-webkit-scrollbar
{
    display: none;
}
#BODY
{   
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    background-color: rgb(150, 0, 0);
}
#themeSwitch
{
    width: 40px;
    height: 40px;
    padding-right: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 12px;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;

    transition: box-shadow 300ms ease-out, background-color 300ms ease-out, color 600ms ease-out;

    font-size: 24px;

    /* background-color: rgb(255, 255, 255); */
}
#themeSwitch:hover
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}



/************************************************************************/
/*          MENU BAR                                                    */
/************************************************************************/



#UnderMenu
{
    width: 100%;
    height: 120px;

    /* display: none; */

    /* background-color: rgb(255, 255, 255); */
}
#NavBar
{
    top: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    /* background-color: rgb(255, 255, 255); */
    /* color: rgb(0, 0, 0); */
}

/**********************************************************************/

.MenuGap
{
    width: 25%;
    height: 120px;

    /* background-color: transparent; */
}
#MenuCenter
{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: transparent; */
}

/**********************************************************************/

#MenuTop
{
    width:100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: transparent; */
}
#MenuLogo
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    transition: visbility 300ms ease-out;

    /* background-color: transparent; */
}
#Logo
{
    padding-bottom: 5px;

    display: flex;
    align-items: center;

    font-size: 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);

    /* background-color: transparent; */
}

/**********************************************************************/

#MenuBottom
{
    width:100%;
    height: 60px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#MenuBottom div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#MenuBottom div span
{
    height: 36px;
    width: 85px;
    margin: 0 6px;
    padding-top: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    touch-action: auto;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: box-shadow 300ms ease-out, background-color 300ms ease-out, color 600ms ease-out;

    font-size: 24px;

    /* background-color: transparent; */
}
#MenuBottom div span:hover
{
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
/* #MenuBottom div span
{
    
    background-color: transparent;
    transition: color 600ms ease-out;
}
#MenuBottom div:hover span
{
    background-color: transparent;
    color: black;
} */
#MenuBottom div:nth-of-type(1n+8)
{
    display: none;
}

/**********************************************************************/

#MenuBottom div .OptionContent
{
    width: 295px;
    height: 0;

    display: none;
    flex-direction: column;
    position: absolute;
    top: 108px;
}
#MenuBottom div:hover .OptionContent
{
    display: block;
    animation-name: showMenu;
    animation-duration: 300ms;
}
.ContentGap
{
    width: 100%;
    height: 12px;
}
.Content
{
    height: 100%;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-top-left-radius: 11px; */
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    /* border-top-right-radius: 2px; */

    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(255, 255, 255, 0.75); */
}
.Content a
{
    width: calc(100% - 24px);
    margin: 6px 0 0;
    padding: 3px 11px 1px;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    
    transition: box-shadow 300ms ease-out, background-color 300ms ease-out, color 600ms ease-out;

    font-size: 21px;
    text-decoration: none;

    /* background-color: transparent;
    color: rgb(0, 0, 0); */
}
.Content a:nth-of-type(1)
{
    margin: 0;
}
.Content a:hover
{
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#BurguerContent
{
    /* width: 0;
    height: 0;
    visibility: hidden; */
}



/************************************************************************/
/*          WEBSITE CONTENT                                             */
/************************************************************************/



.PageContent
{
    height: calc(100vh - 120px);
    /* height: 100vh; */

    display: flex;
    align-items: flex-end;
    justify-content: left;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/************************************************************************/

.PageContent:nth-of-type(4){background-color: rgb(255, 0, 0);}
.PageContent:nth-of-type(5){background-color: rgb(255, 111, 0);}
.PageContent:nth-of-type(6){background-color: rgb(255, 247, 0);}
.PageContent:nth-of-type(7){background-color: rgb(128, 255, 0);}

/************************************************************************/

.PageContent a
{
    max-width: 50%;
    margin: 0 0 48px 48px;
    padding: 9px 24px 6px;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;

    transition: box-shadow 300ms ease-out, background-color 300ms ease-out, color 600ms ease-out;

    font-size: 24px;
    text-decoration: none;

    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(255, 255, 255, 0.75); */
    /* color: rgb(0, 0, 0); */
}
.PageContent a:hover
{
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    background-color:rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
}



/************************************************************************/
/*          END                                                         */
/************************************************************************/



#End
{
    width: 100%;
    height: 120px;

    /* background-color: rgb(255, 255, 255); */
}



/************************************************************************/
/*          MEDIA QUERIES                                               */
/************************************************************************/



@media(min-width: 901px)
{
    #BurguerContent
    {
        /* width: 0;
        height: 0;
        visibility: hidden; */
        display: none;
    }
}

/************************************************************************/
/************************************************************************/

@media(max-width: 900px)
{
    #MenuBottom div:nth-last-of-type(1n+2)
    {
        display: none;
    }
    #MenuBottom div:nth-of-type(1n+8)
    {
        display: flex;
    }

    /******************************************************************/

    #BurguerWindow
    {
        width: 100%;
        height: calc(100% - 120px);

        top: 120px;
        /* width: calc(100% - 24px);
        height: calc(100% - 144px);
        margin: 12px; */
        
        visibility: visible;
        display: none;
        position: fixed;
        justify-content: center;

        animation-name: showMenuBurguer;
        animation-duration: 300ms;

        /* border-top-left-radius: 11px;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px; */

        /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
        background-color: rgba(255, 255, 255);
    }
    #BurguerContent::-webkit-scrollbar
    {
        display: none;
    }
    #BurguerContent
    {
        width: calc(100% - 48px);
        height: calc(100% - 48px);
        margin: 24px 24px 0;
        padding: 0;
        
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        border-top-left-radius: 11px;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px;
        
        /* background-color: transparent; */
    }
    #BurguerContent div
    {
        width: 100%;
        margin-bottom: 30px;
        top: 0;
        
        /* background-color: transparent; */
    }
    #BurguerContent div p
    {
        margin-bottom: 6px;
        padding: 3px 12px 1px;

        border-top-left-radius: 11px;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px;

        font-size: 24px;

        background-color: rgb(220, 220, 220);
        /* color: rgb(0, 0, 0); */
    }
    #BurguerContent a
    {
        margin: 6px 0 0;
        padding: 3px 12px 1px;

        display: flex;
        flex-direction: row;
        align-items: baseline;

        border-top-left-radius: 11px;
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px;

        transition: box-shadow 300ms ease-out, background-color 300ms ease-out, color 600ms ease-out;

        font-size: 21px;
        text-decoration: none;

        /* background-color: transparent; */
        /* color: rgb(0, 0, 0); */
    }
    #BurguerContent a
    {
        margin: 6px 0 0;
    }
    #BurguerContent a:hover
    {
        /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

/************************************************************************/
/************************************************************************/

@media (min-width: 601px) and (max-width: 900px) and (max-height: 600px)
{
    #UnderMenu
    {
        height: 60px;
    }
    #NavBar
    {
        top: 0;
        width: 100%;
        height: 60px;
    }
    #MenuGap
    {
        display: none;
    }
    #MenuCenter
    {
        width: 100%;
        height: 60px;
        
        flex-direction: row;
    }
    #MenuTop
    {
        width:50%;
        height: 60px;
    }
    #MenuBottom
    {
        width:50%;
        height: 60px;
        padding: 0;
    }


    /******************************************************************/

    #BurguerWindow
    {
        height: calc(100% - 60px);

        top: 60px;

        animation-name: showMenuBurguerMini;
        animation-duration: 300ms;
    }

    /******************************************************************/
    
    .PageContent
    {
        height: calc(100vh - 60px);
    }

    /******************************************************************/

    #End
    {
        height: 60px;
    }
}

/************************************************************************/
/************************************************************************/


@media (max-width: 600px)
{

    .Content div p
    {
        font-size: 20px;
    }
    .Content div a
    {
        font-size: 17px;
    }
    .PageContent
    {
        justify-content: center;
    }
    .PageContent a
    {
        margin-left: 0;

        font-size: 20px;
    }
}



/************************************************************************/
/*          EDIT MODE                                                   */
/************************************************************************/



.OPAQUE
{
    background-color: rgb(255, 255, 255);
    color: black;
}
.TRANSLUCID
{
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}
.TRANSPARENT
{
    background-color: transparent;
    color: black;
}



/*
.MenuGap{background-color: rgba(255, 255, 0, 0.5);}
.MenuTop{background-color: rgba(255, 0, 0, 0.5);}
.MenuLogo{background-color: rgba(255, 255, 0, 0.5);}
.Logo{background-color: rgba(0, 0, 255, 0.5);}
.MenuBottom{background-color: rgba(0, 0, 255, 0.5);}
.MenuOption{background-color: rgba(255, 255, 0, 0.5);}
.GapAfterMenu{background-color: rgba(0, 255, 255, 0.5);}
.MenuOption:hover .OptionContent{background-color: rgba(242, 0, 255, 0.5);}

.OptionContent .ContentGap{}
.OptionContent .Content{}
.OptionContent .Content p{}
.OptionContent .Content a{}
.OptionContent .Content a:nth-of-type(1){}
.OptionContent .Content a:hover{}



/************************************************************************/
/************************************************************************/
/************************************************************************/