/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/*                                                                    */
/*          ZS202201 MENU (CSS FILE)                                  */
/*          (DESIGN BEGAN IN: 2022-03-27)                             */
/*                                                                    */
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



/************************************************************************/
/*          KEYFRAMES                                                   */
/************************************************************************/



@keyframes showMenu {

    from {

        height: 0;
    }

    to {

        height: calc(100% - 20px);
    }
}

@keyframes hideMenu {

    from {

        height: calc(100% - 18px);
    }

    to {

        height: 0;
    }
}

@keyframes showMenuBurguer {

    from {
        height: 0;
    }

    to {
        height: calc(100vh - 122px);
    }
}

@keyframes hideMenuBurguer {


    from {
        height: calc(100vh - 122px);
    }

    to {
        height: 0;
    }
}

@keyframes showMenuBurguerMini {

    from {
        height: 0;
    }

    to {
        height: calc(100vh - 62px);
    }
}

@keyframes hideMenuBurguerMini {

    from {
        height: calc(100vh - 62px);
    }

    to {
        height: 0;
    }
}



/************************************************************************/
/*          HTML                                                        */
/************************************************************************/



*
{
    margin: 0;

    font-family: bahnschrift;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-overflow-style: none;
    scrollbar-width: none;
    
    background-color: transparent;
}
body::-webkit-scrollbar
{
    display: none;
}
#BODY
{   
    overflow: visible;

    background-color: rgb(0, 0, 0);/* rgb(150, 0, 0); */
}
#themeSwitch
{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: absolute;
    left: 12px;
    /* right: 0;
    top: calc(100vh - 40px); */

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;


    font-size: 24px;
}



/************************************************************************/
/*          MENU BAR                                                    */
/************************************************************************/



#UnderMenu
{
    width: 100%;
    height: 122px;
}
#NavBar
{
    top: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
    transition: background-color 150ms ease-out, color 450ms ease-out, border 150ms ease-out;
    
    border-bottom: 2px solid black;
}

/**********************************************************************/

.MenuGap
{
    width: 25%;
    height: 120px;
}
#MenuCenter
{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**********************************************************************/

#MenuTop
{
    width:100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: transparent; */
}
#MenuLogo
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    
    transition: background-color 150ms ease-out, color 450ms ease-out;
}
#Logo
{
    padding-bottom: 5px;

    display: flex;
    align-items: center;

    font-size: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    transition: background-color 150ms ease-out, color 450ms ease-out;
}



/************************************************************************/
/*          BURGUER MENU                                                */
/************************************************************************/



#MenuBottom
{
    width:100%;
    height: 60px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.HotAccess
{
    height: 36px;
    width: 90px;
    margin: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    
    transition: background-color 150ms ease-out, color 450ms ease-out;

    font-size: 24px;
    background-color: rebeccapurple;
}
#BurguerWindow
{
    width: 100%;
    height: calc(100vh - 122px);

    top: 120px;
    
    visibility: visible;
    display: none;
    position: fixed;
    justify-content: center;
    
    transition: background-color 150ms ease-out, color 450ms ease-out, border 150ms ease-out;

    animation: showMenuBurguer 450ms ease-in-out;

    border-bottom: 2px solid black;
}
#BurguerContent::-webkit-scrollbar
{
    display: none;
}
#BurguerContent
{
    width: 652px;
    height: calc(100% - 48px);
    margin: 48px calc((100% - 652px) / 2) 0;
    padding: 0;
    
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    border-top-left-radius: 11px;
    border-top-right-radius: 2px;

    transition: width 450ms ease-out, margin 450ms ease-out;
}
#BurguerContent div
{
    width: 100%;
    margin-bottom: 30px;
    top: 0;
}
#BurguerContent div:nth-last-of-type(1)
{
    margin-bottom: 48px;
}
#BurguerContent div p
{
    margin-bottom: 6px;
    padding: 3px 12px 1px;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    
    transition: background-color 150ms ease-out, color 450ms ease-out;

    font-size: 24px;
}
#BurguerContent a
{
    margin: 6px 0 0;
    padding: 3px 12px 1px;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    
    transition: background-color 150ms ease-out, color 450ms ease-out;

    font-size: 21px;
    text-decoration: none;
}
#BurguerContent a
{
    margin: 6px 0 0;
}
#BurguerWindow
{
    display: none;
}



/************************************************************************/
/*          WEBSITE TITLE                                               */
/************************************************************************/



#Title
{
    height: calc(100vh - 122px);
    /* height: 100vh; */

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-image:url(MENU_MULTIMEDIA/S20_Chopstick_Stack_Desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

#Title p {

    margin-bottom: 122px;

    font-size: 36px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0, 1);
}



/************************************************************************/
/*          WEBSITE CONTENT                                             */
/************************************************************************/



.PageContent
{
    height: calc(100vh - 122px - 84px);
    padding: 48px;
    /* height: 100vh; */

    display: flex;
    align-items: flex-end;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .PageContent:nth-of-type(4){background-color: rgb(255, 0, 0);}
.PageContent:nth-of-type(5){background-color: rgb(255, 111, 0);}
.PageContent:nth-of-type(6){background-color: rgb(255, 247, 0);}
.PageContent:nth-of-type(7){background-color: rgb(128, 255, 0);} */

.PageContent a
{
    max-width: 50%;
    padding: 9px 24px 6px;

    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;

    flex-wrap: wrap;

    transition: background-color 150ms ease-out, color 450ms ease-out;

    font-size: 24px;
    text-decoration: none;
    
    box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.4);
}



/************************************************************************/



.PageContent p
{
    max-width: 50%;
    padding: 9px 24px 6px;


    align-self: flex-start;

    /* border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px; */

    /* transition: background-color 150ms ease-out, color 450ms ease-out; */

    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0, 1);
    
    /* box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.4); */
}



/************************************************************************/
/*          END                                                         */
/************************************************************************/



#End {

    width: 100%;
    height: 100%;
    /* padding: 24px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    

    transition: background-color 150ms ease-out, color 450ms ease-out, border 150ms ease-out;

    border-top: 2px solid black;
}

#End div {

    width: calc(100vw - 32px);
    height: 100%;
    margin: 36px 0;

    text-align: center;
}
#End div p {

    padding: 3px 0;
    word-wrap: break-word;
    font-size: 14px;
}

#End div p:nth-of-type(1) {

    padding: 0 0 3px;
    font-size: 18px;
}

#End div p:nth-of-type(2) {

    padding: 12px 0 3px;
}

#End div p:nth-last-of-type(1) {

    padding: 3px 0 0;
}



/************************************************************************/
/*          MEDIA QUERIES                                               */
/************************************************************************/



@media (max-width: 700px) or (max-height: 600px) 
    {

    #BurguerContent
    {
        width: calc(100% - 48px);
        height: calc(100% - 50px);
        margin: 48px 24px 0;
    }
}

/************************************************************************/
/************************************************************************/

@media (max-height: 600px)
{
    #BurguerContent
    {
        /* max-width: 652px; */
        width: calc(100% - 48px);
        height: calc(100% - 24px);
        margin: 24px 24px 0;
        padding: 0;
    }
    #BurguerContent div:nth-last-of-type(1)
    {
        margin-bottom: 24px;
    }

    /******************************************************************/

    #UnderMenu
    {
        height: 62px;
    }
    #NavBar
    {
        top: 0;
        width: 100%;
        height: 60px;
    }
    #MenuGap
    {
        display: none;
    }
    #MenuCenter
    {
        width: 100%;
        height: 60px;
        
        flex-direction: row;
    }
    #MenuTop
    {
        width:50%;
        height: 60px;
    }
    #MenuBottom
    {
        width:50%;
        height: 60px;
        padding: 0;
    }


    /******************************************************************/

    #BurguerWindow
    {
        width: 100%;
        height: calc(100vh - 62px);

        top: 60px;
    }
    
    /******************************************************************/

    #Title
    {
    height: calc(100vh - 62px);
    }

    .PageContent
    {
        height: calc(100vh - 62px - 84px);
    }
}

/************************************************************************/
/************************************************************************/

@media (min-width: 701px)
{
    #BurguerContent
    {
        /* width: calc(100% - 40%); */
        width: 652px;
        height: calc(100% - 48px);
        margin: 48px calc((100% - 652px) / 2) 0;
        padding: 0;
        
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        border-top-left-radius: 11px;
        border-top-right-radius: 2px;

        transition: width 450ms ease-out, margin 450ms ease-out;
    }
    #BurguerContent div
    {
        width: 100%;
        margin-bottom: 30px;
        top: 0;
    }
    #BurguerContent div:nth-last-of-type(1)
    {
        margin-bottom: 48px;
    }
}

/************************************************************************/
/************************************************************************/

@media (max-width: 600px)
{

    .Content div p
    {
        font-size: 20px;
    }
    .Content div a
    {
        font-size: 17px;
    }
    .PageContent
    {
        justify-content: center;
        transition: justify-content 450ms ease-out;
    }
    .PageContent a
    {
        margin-left: 0;

        font-size: 20px;
    }

    /******************************************************************/
    
    #End {

        flex-direction: column;
    }
}



/************************************************************************/
/*          THEME COLORS                                                */
/************************************************************************/



.OPAQUE
{
    background-color: rgb(255, 255, 255);
    color: black;
}
/* .OPAQUEINVERSE
{
    background-color: rgb(0, 0, 0);
    color: white;
} */
.TRANSLUCID
{
    background-color: rgba(200, 200, 200, 0.95);
    color: black;
}
.TRANSLUCID2
{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}
.TRANSPARENT
{
    background-color: transparent;
    color: black;
}



/************************************************************************/
/************************************************************************/
/************************************************************************/