/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



*
{
    margin: 0;

    background-color: transparent;
    color: white;

    font-family: bahnschrift;
}
body
{
    /* border-left: 2px solid rgb(255, 255, 255); */
    background-color: rgb(113, 189, 37);
}



#PreHeader
{
    height: 61px;
    width: 100%;

    background-color: black;
}
header
{
    top: 0;
    position: sticky;
    height: 60px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;

    /* border-left: 2px solid white; */
    /* border-right: 2px solid white; */
    border-bottom: 1px solid white;

    background-color: rgba(0, 0, 0, 0.500);
    text-decoration: none;
}



#Header_Z
{
    height: 60px;
}
#Header_Z a
{
    transition: color 250ms ease-out;

    font-size: 40px;
    text-decoration: none;
}
#Header_Z a:hover
{
    color:red
}



.Header_Option
{
    margin-left: 5px;
    height: 40px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: background-color 250ms ease-out;

    font-size: 22px;
    text-decoration: none;
}
.Header_Option:hover
{
    background-color: white;
    color: black;
}



#Main_1
{
    margin: 0;
    padding: 50px;
    min-height: 100px;

    display: flex;
    align-items: flex-end;
    justify-content: left;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Main_1 a
{
    padding: 5px 15px;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: background-color 250ms ease-out;

    font-size: 30px;
    text-decoration: none;
}
#Main_1 a:hover
{
    background-color:white;
    color: black;
}



/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



@media(min-width:900px)
{
    #Header_Section
    {
        display: flex;
        flex-direction: row;
    }



    header nav
    {
        display: none;
    }



    #EndGrid
    {
        display: grid;
        grid-template-columns:
            minmax(0px 1000px)
            minmax(0px 1000px)
            minmax(0px 1000px)
            minmax(0px 1000px);
        grid-template-rows:
            minmax(50px 100px)
            minmax(50px 100px);
    }
}



/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



@media(max-width:900px)
{
    #Header_Section
    {
        display: none;
    }
}



/**********************************************************************/
/**********************************************************************/
/**********************************************************************/