/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



*
{
    margin: 0;

    background-color: transparent;
    color: white;

    font-family: bahnschrift;
}
body
{
    /* border-left: 2px solid rgb(255, 255, 255); */
    background-color: rgb(125, 25, 25);
}


/**********************************************************************/
/**********************************************************************/


.PreHeader
{
    height: 89px;
    width: 100%;

    background-color: black;
}
header
{
    top: 0;
    position: sticky;
    height: 88px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    background-color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}


/**********************************************************************/


.MenuGap
{
    height: 100%;
    width: 50px;
}
.MenuCenter
{
    width: 100%;
    height: 88px;
    
    display: flex;
    flex-direction: column;
}


/**********************************************************************/


.MenuTop
{
    width:100%;
    height: 44px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.MenuLogo
{
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.MenuLogo a
{
    transition: color 250ms ease-out;

    font-size: 40px;
    text-decoration: none;
}
.MenuLogo a:hover
{
    color: rgb(255, 25, 25);
}


/**********************************************************************/


.MenuBottom
{
    width:100%;
    height: 44px;
    
    background-color: blue;
}
.MenuOption
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Option
{
    height: 36px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: background-color 250ms ease-out;

    font-size: 22px;
    text-decoration: none;

    background-color: brown;
}
.Option:hover
{
    background-color: white;
    color: black;
}


/**********************************************************************/
/**********************************************************************/


.PageContent
{
    margin: 0;
    padding: 50px;
    min-height: 400px;

    display: flex;
    align-items: flex-end;
    justify-content: left;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.PageContent a
{
    padding: 5px 15px;

    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: background-color 250ms ease-out;

    font-size: 30px;
    text-decoration: none;
}
.PageContent a:hover
{
    background-color:white;
    color: black;
}


/**********************************************************************/


.End
{
    display: grid;
    grid-template-columns:
        minmax(0px 1000px)
        minmax(0px 1000px)
        minmax(0px 1000px)
        minmax(0px 1000px);
    grid-template-rows:
        minmax(50px 100px)
        minmax(50px 100px);
}



/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



@media(min-width:601px)
{
}



/**********************************************************************/
/**********************************************************************/
/**********************************************************************/



@media(max-width:600px)
{
}



/**********************************************************************/
/**********************************************************************/
/**********************************************************************/